* {
    box-sizing: border-box;
}

.fa-star {
    color: #dbf20a;
    font-size: 20px;
}

.fa-pizza-slice,
.fa-coffee {
    color: #d95821;
}

a,
input,
textarea,
button {
    min-height: 44px;
    min-width: 44px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.skip-to-content {
    position: fixed;
    padding: 15px;
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    top: -200px;

    &:focus {
        top: auto;
        right: 0;
        bottom: 0;
        margin: 20px;

    }
}

// Navbar
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid black;

    a {
        text-decoration: none;
    }

    .nav-logo {
        font-size: 32px;
        color: #000000;
    }

    .nav-hamburger {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        justify-self: end;
    }

    .nav-menu {
        display: none;
    }

    .sidenav {
        display: block;
        position: fixed;
        width: 250px;
        right: 0;
        background-color: #ffffff;
        padding: 0;
        top: 70px;
        transform: translate(260px, 0);
        transition: transform 0.5s;
        z-index: 99;

        .nav-item {
            list-style: none;
            box-sizing: border-box;
            padding: 20px;
            border-bottom: 1px solid #E0E0E0;
        }
    }

    .open {
        transform: translate(0, 0);
        transition: transform 0.5s;
    }

    .nav-link {
        text-decoration: none;
        color: #000000;
        width: 100%;
        padding: 16px;
    }
}


// Hero jumbotron
.hero {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    min-height: 380px;
    background: #000000;
    position: relative;
    background-image: url('/images/hero-image-small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;

    }


    &-inner {
        align-self: center;
        text-align: center;
        max-width: 60%;
        position: absolute;
        color: #ffffff;
        z-index: 2;
    }

    &-title {
        color: #ffffff;
        font-weight: 500;
        font-size: 32px;
    }

    &-tag {
        color: #ffffff;
        font-weight: 500;
        font-size: 18px;
    }
}

// Home (List Warung)
.content {
    display: grid;
    justify-items: center;
    width: 95%;
    margin: 30px auto;
    padding: 0 10px;
    margin-top: 28px;

    &-title {
        text-align: center;
        margin-bottom: 40px;
    }
}

.post-content {
    display: grid;

    warung-item {
        margin-bottom: 20px;
    }

    .post-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: grid;
        grid-row-gap: 15px;
        width: 100%;
        margin: 0 auto;

        &-thumbnail {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        &-content {
            padding: 5px 20px 20px 20px;
        }

        &-title {
            margin-bottom: 10px;
        }

        &-title a {
            color: #000000;
            text-decoration: none;
            padding: 15px 0;
        }

        &-location {
            font-size: 14px;
            color: #b84412;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }

        &-description {
            color: #000000;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 200;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        &-title a:hover {
            opacity: 0.5;
        }

        &-rate {
            font-weight: bold;
        }

        .fa-map-marker-alt {
            font-size: 14px;
            color: #d95821;
        }

        .fa-star {
            color: #dbf20a;
            font-size: 20px;
        }
    }

}


// Detail Warung

.detail-warung {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
}

.detail-warung article {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.detail-thumbnail {
    display: block;
    width: 100%;
    object-fit: cover;

}

.detail-content {
    width: 80%;
    margin: 0 auto;
}

.detail-title {
    color: #222121;
    margin-bottom: 3px;
}

.detail-category-container {
    display: block;
    margin-bottom: 8px;
}

.detail-category {
    color: #575454;
    font-size: 12px;
}

.detail-description {
    color: #000000;
    margin-bottom: 30px;
    font-size: 14px;
}


.detail-location {
    font-size: 14px;
    color: #b84412;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.detail-warung aside {
    width: 100%;
    margin: 0 auto;
}

.detail-menu {
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.menu-title-container {
    padding: 13px 0;
}

.fa-pizza-slice,
.fa-coffee {
    color: #d95821;
}

.menu-title {
    font-size: 16px;
    color: #b84412;
    display: inline;
}

.menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    grid-row-gap: 10px;
}

.menu-item {
    list-style: none;
    font-size: 14px;
    color: #575454;
}

.menu-rating {
    text-align: right;
    padding: 20px 0;
}

.menu-rating span {
    font-weight: bold;
    color: #222121;
}

.detail-warung section {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.detail-warung section h2 {
    font-size: 16px;
    color: #222121;
    margin-bottom: 30px;
}


// Review Form
#review-user-container {
    width: 100%;
    border-bottom: 2px solid rgb(145, 145, 145);

    .review-user {
        display: grid;
        grid-template-columns: 60px auto;
        gap: 20px;
        padding: 0;
        margin-bottom: 20px;


        .review-body {
            width: 100%;
            overflow: hidden;
        }

        .review-photo-profile img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .review-user-name {
            margin-top: 0;
            margin-bottom: 3px;
            font-size: 16px;
            color: #222121;
            text-transform: capitalize;
        }


        .review-date-post {
            color: #6e6c6c;
            font-size: 10px;
        }

        .review-content {
            margin-top: 5px;
            color: #575454;
            font-size: 14px;
        }

        .review-content::first-letter {
            text-transform: capitalize;
        }
    }
}


.review-form-container {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background-color: #f3f3f3;
    border-radius: 5px;

    .review-form {
        button {
            outline: none;
            border: 1px solid #0e9fff;
            background: #139ff0;
            color: #ffffff;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                color: #ffffff;
                background: #0f82c5;
            }
        }


        &-element {
            display: grid;
            grid-template-rows: 1fr;
            grid-row-gap: 8px;
            margin-bottom: 15px;

            label {
                color: #646464;
            }

            input {
                border: 1px solid #969696;
                padding: 7px 20px;
                font-size: 16px;
                color: #6e6c6c;
                border-radius: 3px;
            }

            textarea {
                border: 1px solid #969696;
                padding: 10px 20px;
                color: #6e6c6c;
                font-size: 16px;
                border-radius: 3px;
            }

            input:focus,
            textarea:focus {
                outline: none;
                box-shadow: 0 0 3px 1px rgb(126, 182, 235);
            }
        }

    }

    .input-require {
        color: #ff0000;
        margin-top: -5px;
        font-style: italic;
        font-size: 12px;
    }
}

.success-message {
    border-radius: 5px 0 5px 0;
    min-width: 200px;
    padding: 4px;
    opacity: 0;
    text-align: center;
    background-color: #3be688;
    color: #ffffff;
    transition: opacity 1s;

    p {
        font-size: 16px;
    }
}

.show-message {
    opacity: 1;
}

// Toast message
.toast-container {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;

    .toast {
        position: relative;
        width: 100%;
        max-width: 300px;
        font-size: 14px;
        min-width: 250px;
        background-color: #fff;
        border-radius: 5px;
        padding: 1px 10px;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .15), 0 10px 10px -5px rgba(0, 0, 0, .1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 15px 20px -5px rgba(0, 0, 0, .15), 0 15px 15px -5px rgba(0, 0, 0, .1);
        }

        .t-text {
            color: #262626;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &.success {
            background-color: rgb(78, 247, 196);
        }

        &.warning {
            background-color: rgb(252, 188, 105);

            .t-text {
                color: #eee;
            }

            .t-title {
                color: #eee;
            }
        }

        &.danger {
            background-color: rgb(252, 105, 105);

            .t-text {
                color: #eee;
            }

            .t-title {
                color: #eee;
            }
        }
    }
}


/*
   Like
*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


// empty component
empty-favorite {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.empty-favorite-icon .fa-folder-open {
    font-size: 200px;
    color: #db0000;
}

.empty-favorite-tag p {
    color: #222121;
    font-size: 24px;
}



// Footer
footer {
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.75);
}

.page-loader {
    transform: translate(50%, 50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid #dadada;
    border-top-color: #d95821;
    z-index: 99;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width:480px) {
    nav {
        padding: 0;

        .nav-menu {
            display: grid;
            grid-auto-flow: column;
            padding: 0;
            justify-items: center;

            .nav-item {
                list-style: none;
                box-sizing: border-box;
            }
        }

        .nav-hamburger {
            display: none;
        }

        .sidenav {
            display: none;
        }

    }

    .hero {
        background-image: url('/images/hero-image-medium.jpg');
    }

}

@media screen and (min-width:768px) {

    .post-content {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .hero {
        background-image: url('/images/hero-image-large.jpg');
    }
}

@media screen and (min-width: 1200px) {

    .content {
        max-width: 1200px;
    }

    .post-content {
        grid-template-columns: repeat(3, 1fr);
    }
}